In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [4]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [5]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [6]:
dates = pd.date_range("20130101", periods = 6)

In [7]:
type(dates)

pandas.core.indexes.datetimes.DatetimeIndex

In [8]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [9]:
alpha_list = ["A", "B", "C", "D"]

In [10]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=alpha_list)

In [11]:
df

                   A         B         C         D
2013-01-01  1.340187  0.708369 -0.684222 -1.177554
2013-01-02  0.141047 -0.479907 -0.334254 -0.083521
2013-01-03 -0.340217  0.960238 -0.300313 -0.702754
2013-01-04  1.261302  1.485489  0.756403  0.163652
2013-01-05 -2.668370  1.723104 -0.049084 -0.153676
2013-01-06 -1.679895  0.263388  0.437661 -0.544425

In [12]:
df2 = pd.DataFrame({"A": 1,
                    "B": pd.Timestamp("20130102"),
                    "C": pd.Series(1, index=list(range(4)), dtype="float32"),
                    "D": np.array([3] * 4, dtype="int32"),
                    "E": pd.Categorical(["test", "train", "test", "train"]),
                    "F": "foo"})

In [13]:
df2

   A          B    C  D      E    F
0  1 2013-01-02  1.0  3   test  foo
1  1 2013-01-02  1.0  3  train  foo
2  1 2013-01-02  1.0  3   test  foo
3  1 2013-01-02  1.0  3  train  foo

In [14]:
df2.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [15]:
df.head()

                   A         B         C         D
2013-01-01  1.340187  0.708369 -0.684222 -1.177554
2013-01-02  0.141047 -0.479907 -0.334254 -0.083521
2013-01-03 -0.340217  0.960238 -0.300313 -0.702754
2013-01-04  1.261302  1.485489  0.756403  0.163652
2013-01-05 -2.668370  1.723104 -0.049084 -0.153676

In [16]:
df.tail(3)

                   A         B         C         D
2013-01-04  1.261302  1.485489  0.756403  0.163652
2013-01-05 -2.668370  1.723104 -0.049084 -0.153676
2013-01-06 -1.679895  0.263388  0.437661 -0.544425

In [17]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [18]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [19]:
df.values

array([[ 1.34018715,  0.70836851, -0.68422228, -1.17755379],
       [ 0.14104651, -0.47990728, -0.33425413, -0.08352085],
       [-0.34021702,  0.96023781, -0.30031336, -0.70275373],
       [ 1.26130185,  1.48548917,  0.75640337,  0.16365234],
       [-2.66836969,  1.72310405, -0.04908353, -0.15367646],
       [-1.67989465,  0.26338791,  0.43766056, -0.54442461]])

In [20]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.324324  0.776780 -0.028968 -0.416380
std    1.602108  0.809811  0.535003  0.488679
min   -2.668370 -0.479907 -0.684222 -1.177554
25%   -1.344975  0.374633 -0.325769 -0.663171
50%   -0.099585  0.834303 -0.174698 -0.349051
75%    0.981238  1.354176  0.315975 -0.101060
max    1.340187  1.723104  0.756403  0.163652

In [21]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    1.340187    0.141047   -0.340217    1.261302   -2.668370   -1.679895
B    0.708369   -0.479907    0.960238    1.485489    1.723104    0.263388
C   -0.684222   -0.334254   -0.300313    0.756403   -0.049084    0.437661
D   -1.177554   -0.083521   -0.702754    0.163652   -0.153676   -0.544425

In [23]:
df.sort_index(axis = 1, ascending = False)

                   D         C         B         A
2013-01-01 -0.029636 -1.347979  0.234014 -0.450037
2013-01-02  0.528848 -0.218654  1.591235 -0.490206
2013-01-03  0.245607  0.699385  1.678847  0.262390
2013-01-04 -1.077829  0.531101 -0.194358  0.291014
2013-01-05 -0.748578 -0.967999  2.262297 -0.311669
2013-01-06  1.821712  0.132111  1.440632  0.504474

In [22]:
df.sort_index(axis = 0, ascending = False)

                   A         B         C         D
2013-01-06 -1.679895  0.263388  0.437661 -0.544425
2013-01-05 -2.668370  1.723104 -0.049084 -0.153676
2013-01-04  1.261302  1.485489  0.756403  0.163652
2013-01-03 -0.340217  0.960238 -0.300313 -0.702754
2013-01-02  0.141047 -0.479907 -0.334254 -0.083521
2013-01-01  1.340187  0.708369 -0.684222 -1.177554

In [23]:
df.sort_values(by = "A", ascending = True)

                   A         B         C         D
2013-01-05 -2.668370  1.723104 -0.049084 -0.153676
2013-01-06 -1.679895  0.263388  0.437661 -0.544425
2013-01-03 -0.340217  0.960238 -0.300313 -0.702754
2013-01-02  0.141047 -0.479907 -0.334254 -0.083521
2013-01-04  1.261302  1.485489  0.756403  0.163652
2013-01-01  1.340187  0.708369 -0.684222 -1.177554

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2013-01-01 to 2013-01-06
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      float64
 2   C       6 non-null      float64
 3   D       6 non-null      float64
dtypes: float64(4)
memory usage: 240.0 bytes

In [25]:
df.isnull().sum()

A    0
B    0
C    0
D    0
dtype: int64

In [27]:
df[["A"]]

                   A
2013-01-01  1.340187
2013-01-02  0.141047
2013-01-03 -0.340217
2013-01-04  1.261302
2013-01-05 -2.668370
2013-01-06 -1.679895