In [86]:
import pandas as pd

In [97]:
# import pprint

In [96]:
document = [
    "코로나 상생지원금 문의입니다.",
    "낮 12시 ~ 2시 지하철 운행시간 문의입니다.",
    "밤 12시 이후 버스 운행시간 문의입니다.",
    "사회적 거리두기로 인한 10시 이후 영업시간 안내입니다.",
    "Bus 운행시간 문의입니다.",
    "Taxi 승강장 문의입니다.",
]

print("\n".join(document))

코로나 상생지원금 문의입니다.
낮 12시 ~ 2시 지하철 운행시간 문의입니다.
밤 12시 이후 버스 운행시간 문의입니다.
사회적 거리두기로 인한 10시 이후 영업시간 안내입니다.
Bus 운행시간 문의입니다.
Taxi 승강장 문의입니다.

In [102]:
#df = pd.DataFrame({"문서": document})
df = pd.DataFrame(document, index=range(6), columns=["문서"])

In [99]:
df

                                문서
0                 코로나 상생지원금 문의입니다.
1       낮 12시 ~ 2시 지하철 운행시간 문의입니다.
2          밤 12시 이후 버스 운행시간 문의입니다.
3  사회적 거리두기로 인한 10시 이후 영업시간 안내입니다.
4                  Bus 운행시간 문의입니다.
5                  Taxi 승강장 문의입니다.

In [103]:
df.shape

(6, 1)

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   문서      6 non-null      object
dtypes: object(1)
memory usage: 176.0+ bytes

In [105]:
df["문의날짜"] = "2023-04-07"

In [106]:
df["문의날짜2"] = "20230407"

In [ ]:
df.drop(["문의날짜"], axis=1, inplace=True)

In [110]:
df.rename(columns={"문의날짜2": "날짜"}, inplace=True)

In [112]:
df["날짜"] = "2023-04-07"

In [113]:
df

                                문서          날짜
0                 코로나 상생지원금 문의입니다.  2023-04-07
1       낮 12시 ~ 2시 지하철 운행시간 문의입니다.  2023-04-07
2          밤 12시 이후 버스 운행시간 문의입니다.  2023-04-07
3  사회적 거리두기로 인한 10시 이후 영업시간 안내입니다.  2023-04-07
4                  Bus 운행시간 문의입니다.  2023-04-07
5                  Taxi 승강장 문의입니다.  2023-04-07

In [114]:
df[["문서", "날짜"]]

                                문서          날짜
0                 코로나 상생지원금 문의입니다.  2023-04-07
1       낮 12시 ~ 2시 지하철 운행시간 문의입니다.  2023-04-07
2          밤 12시 이후 버스 운행시간 문의입니다.  2023-04-07
3  사회적 거리두기로 인한 10시 이후 영업시간 안내입니다.  2023-04-07
4                  Bus 운행시간 문의입니다.  2023-04-07
5                  Taxi 승강장 문의입니다.  2023-04-07

In [116]:
type(df[["문서", "날짜"]])

pandas.core.frame.DataFrame

In [115]:
df[["문서"]]

                                문서
0                 코로나 상생지원금 문의입니다.
1       낮 12시 ~ 2시 지하철 운행시간 문의입니다.
2          밤 12시 이후 버스 운행시간 문의입니다.
3  사회적 거리두기로 인한 10시 이후 영업시간 안내입니다.
4                  Bus 운행시간 문의입니다.
5                  Taxi 승강장 문의입니다.

In [117]:
type(df[["문서"]])

pandas.core.frame.DataFrame

In [118]:
df["문서"]

0                   코로나 상생지원금 문의입니다.
1         낮 12시 ~ 2시 지하철 운행시간 문의입니다.
2            밤 12시 이후 버스 운행시간 문의입니다.
3    사회적 거리두기로 인한 10시 이후 영업시간 안내입니다.
4                    Bus 운행시간 문의입니다.
5                    Taxi 승강장 문의입니다.
Name: 문서, dtype: object

In [120]:
type(df["문서"])

pandas.core.series.Series

In [20]:
df.loc[[0]]

                 문서          날짜
0  코로나 상생지원금 문의입니다.  2023-04-07

In [21]:
df.loc[0:3, "문서":"날짜"]

                                문서          날짜
0                 코로나 상생지원금 문의입니다.  2023-04-07
1       낮 12시 ~ 2시 지하철 운행시간 문의입니다.  2023-04-07
2          밤 12시 이후 버스 운행시간 문의입니다.  2023-04-07
3  사회적 거리두기로 인한 10시 이후 영업시간 안내입니다.  2023-04-07

In [22]:
df.loc[[1, 2, 3], ["문서", "날짜"]]

                                문서          날짜
1       낮 12시 ~ 2시 지하철 운행시간 문의입니다.  2023-04-07
2          밤 12시 이후 버스 운행시간 문의입니다.  2023-04-07
3  사회적 거리두기로 인한 10시 이후 영업시간 안내입니다.  2023-04-07

In [23]:
df.loc[0, "문서"]

'코로나 상생지원금 문의입니다.'

In [24]:
type(df.loc[0, "문서"])

str

In [121]:
df.iloc[0:3, 1:]

           날짜
0  2023-04-07
1  2023-04-07
2  2023-04-07

In [29]:
print(type(df["문서"]), type(df[["문서"]]), ", ")

<class 'pandas.core.series.Series'> <class 'pandas.core.frame.DataFrame'> ,

In [27]:
df["문서"].str.lower()

0                   코로나 상생지원금 문의입니다.
1         낮 12시 ~ 2시 지하철 운행시간 문의입니다.
2            밤 12시 이후 버스 운행시간 문의입니다.
3    사회적 거리두기로 인한 10시 이후 영업시간 안내입니다.
4                    bus 운행시간 문의입니다.
5                    taxi 승강장 문의입니다.
Name: 문서, dtype: object

In [32]:
df["문서"].str.upper()

0                   코로나 상생지원금 문의입니다.
1         낮 12시 ~ 2시 지하철 운행시간 문의입니다.
2            밤 12시 이후 버스 운행시간 문의입니다.
3    사회적 거리두기로 인한 10시 이후 영업시간 안내입니다.
4                    bus 운행시간 문의입니다.
5                    taxi 승강장 문의입니다.
Name: 문서, dtype: object

In [37]:
df["문서"].str.strip().str.len()

6

In [44]:
df["문서"].str.split(expand=True).loc[0:1, 1:5]

       1       2     3     4     5
0  상생지원금  문의입니다.  None  None  None
1    12시       ~    2시   지하철  운행시간

In [122]:
type(df["문서"].str.split(expand=True))

pandas.core.frame.DataFrame

In [45]:
df["문서"].str.split("문의", expand=True)

                                 0     1
0                       코로나 상생지원금   입니다.
1             낮 12시 ~ 2시 지하철 운행시간   입니다.
2                밤 12시 이후 버스 운행시간   입니다.
3  사회적 거리두기로 인한 10시 이후 영업시간 안내입니다.  None
4                        Bus 운행시간   입니다.
5                        Taxi 승강장   입니다.

In [47]:
df["문서"].str.contains("버스")

0    False
1    False
2     True
3    False
4    False
5    False
Name: 문서, dtype: bool

In [128]:
df[df["날짜"] > "2023-04-03"][["날짜"]]

          날짜
3 2023-04-04
4 2023-04-05
5 2023-04-06

In [125]:
df["날짜"] = pd.date_range("2023-04-01", periods=6)

In [126]:
df

                                문서         날짜     문의
0                 코로나 상생지원금 문의입니다. 2023-04-01   True
1       낮 12시 ~ 2시 지하철 운행시간 문의입니다. 2023-04-02   True
2          밤 12시 이후 버스 운행시간 문의입니다. 2023-04-03   True
3  사회적 거리두기로 인한 10시 이후 영업시간 안내입니다. 2023-04-04  False
4                  Bus 운행시간 문의입니다. 2023-04-05   True
5                  Taxi 승강장 문의입니다. 2023-04-06   True

In [131]:
df["문의"] = df["문서"].str.contains("문의")

# df.drop("문의", axis=1, inplace=True)
df

                                문서         날짜     문의     안내
0                 코로나 상생지원금 문의입니다. 2023-04-01   True  False
1       낮 12시 ~ 2시 지하철 운행시간 문의입니다. 2023-04-02   True  False
2          밤 12시 이후 버스 운행시간 문의입니다. 2023-04-03   True  False
3  사회적 거리두기로 인한 10시 이후 영업시간 안내입니다. 2023-04-04  False   True
4                  Bus 운행시간 문의입니다. 2023-04-05   True  False
5                  Taxi 승강장 문의입니다. 2023-04-06   True  False

In [132]:
df["안내"] = df["문서"].str.contains("안내")
df

                                문서         날짜     문의     안내
0                 코로나 상생지원금 문의입니다. 2023-04-01   True  False
1       낮 12시 ~ 2시 지하철 운행시간 문의입니다. 2023-04-02   True  False
2          밤 12시 이후 버스 운행시간 문의입니다. 2023-04-03   True  False
3  사회적 거리두기로 인한 10시 이후 영업시간 안내입니다. 2023-04-04  False   True
4                  Bus 운행시간 문의입니다. 2023-04-05   True  False
5                  Taxi 승강장 문의입니다. 2023-04-06   True  False

In [138]:
df["문서"].str.replace("버스|지하철", "대중교통", regex=True)

0                   코로나 상생지원금 문의입니다.
1        낮 12시 ~ 2시 대중교통 운행시간 문의입니다.
2          밤 12시 이후 대중교통 운행시간 문의입니다.
3    사회적 거리두기로 인한 10시 이후 영업시간 안내입니다.
4                    Bus 운행시간 문의입니다.
5                    Taxi 승강장 문의입니다.
Name: 문서, dtype: object

In [134]:
import datetime

# df.replace("운행", "영업", regex=True)

df.replace({"2023-04-01": datetime.datetime.today()})

                                문서                         날짜     문의     안내
0                 코로나 상생지원금 문의입니다. 2023-04-08 23:48:54.986501   True  False
1       낮 12시 ~ 2시 지하철 운행시간 문의입니다. 2023-04-02 00:00:00.000000   True  False
2          밤 12시 이후 버스 운행시간 문의입니다. 2023-04-03 00:00:00.000000   True  False
3  사회적 거리두기로 인한 10시 이후 영업시간 안내입니다. 2023-04-04 00:00:00.000000  False   True
4                  Bus 운행시간 문의입니다. 2023-04-05 00:00:00.000000   True  False
5                  Taxi 승강장 문의입니다. 2023-04-06 00:00:00.000000   True  False

In [143]:
df["문서"].str.replace("[0-9]", "", regex=True)

0                 코로나 상생지원금 문의입니다.
1          낮 시 ~ 시 지하철 운행시간 문의입니다.
2            밤 시 이후 버스 운행시간 문의입니다.
3    사회적 거리두기로 인한 시 이후 영업시간 안내입니다.
4                  Bus 운행시간 문의입니다.
5                  Taxi 승강장 문의입니다.
Name: 문서, dtype: object

In [152]:
df["문서"].str[0:3]

0    코로나
1    낮 1
2    밤 1
3    사회적
4    Bus
5    Tax
Name: 문서, dtype: object

In [153]:
df["문서"].map(lambda x : len(x))

0    16
1    26
2    23
3    31
4    15
5    15
Name: 문서, dtype: int64

In [154]:
df["문서"].map(lambda x : len(x.split()))

0    3
1    7
2    6
3    7
4    3
5    3
Name: 문서, dtype: int64