In [1]:
import pandas as pd

In [2]:
document = [
    "코로나 상생지원금 문의입니다.",
    "낮 12시 ~ 2시 지하철 운행시간 문의입니다.",
    "밤 12시 이후 버스 운행시간 문의입니다.",
    "사회적 거리두기로 인한 10시 이후 영업시간 안내입니다.",
    "Bus 운행시간 문의입니다.",
    "Taxi 승강장 문의입니다.",
]

In [3]:
df = pd.DataFrame({"문서": document})

In [5]:
df

                                문서
0                 코로나 상생지원금 문의입니다.
1       낮 12시 ~ 2시 지하철 운행시간 문의입니다.
2          밤 12시 이후 버스 운행시간 문의입니다.
3  사회적 거리두기로 인한 10시 이후 영업시간 안내입니다.
4                  Bus 운행시간 문의입니다.
5                  Taxi 승강장 문의입니다.

In [6]:
df.shape

(6, 1)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   문서      6 non-null      object
dtypes: object(1)
memory usage: 176.0+ bytes

In [8]:
df["문의날짜"] = "2023-04-07"

In [10]:
df["문의날짜2"] = "20230407"

In [12]:
df.drop(["문의날짜"], axis=1, inplace=True)

In [14]:
df.rename(columns={"문의날짜2": "날짜"}, inplace=True)

In [16]:
df["날짜"] = "2023-04-07"

In [17]:
df

                                문서          날짜
0                 코로나 상생지원금 문의입니다.  2023-04-07
1       낮 12시 ~ 2시 지하철 운행시간 문의입니다.  2023-04-07
2          밤 12시 이후 버스 운행시간 문의입니다.  2023-04-07
3  사회적 거리두기로 인한 10시 이후 영업시간 안내입니다.  2023-04-07
4                  Bus 운행시간 문의입니다.  2023-04-07
5                  Taxi 승강장 문의입니다.  2023-04-07

In [18]:
df[["문서", "날짜"]]

                                문서          날짜
0                 코로나 상생지원금 문의입니다.  2023-04-07
1       낮 12시 ~ 2시 지하철 운행시간 문의입니다.  2023-04-07
2          밤 12시 이후 버스 운행시간 문의입니다.  2023-04-07
3  사회적 거리두기로 인한 10시 이후 영업시간 안내입니다.  2023-04-07
4                  Bus 운행시간 문의입니다.  2023-04-07
5                  Taxi 승강장 문의입니다.  2023-04-07

In [20]:
type(df[["문서", "날짜"]])

pandas.core.frame.DataFrame

In [21]:
df[["문서"]]

                                문서
0                 코로나 상생지원금 문의입니다.
1       낮 12시 ~ 2시 지하철 운행시간 문의입니다.
2          밤 12시 이후 버스 운행시간 문의입니다.
3  사회적 거리두기로 인한 10시 이후 영업시간 안내입니다.
4                  Bus 운행시간 문의입니다.
5                  Taxi 승강장 문의입니다.

In [22]:
type(df[["문서"]])

pandas.core.frame.DataFrame

In [23]:
df["문서"]

0                   코로나 상생지원금 문의입니다.
1         낮 12시 ~ 2시 지하철 운행시간 문의입니다.
2            밤 12시 이후 버스 운행시간 문의입니다.
3    사회적 거리두기로 인한 10시 이후 영업시간 안내입니다.
4                    Bus 운행시간 문의입니다.
5                    Taxi 승강장 문의입니다.
Name: 문서, dtype: object

In [24]:
type(df["문서"])

pandas.core.series.Series

In [25]:
df.loc[[0]]

                 문서          날짜
0  코로나 상생지원금 문의입니다.  2023-04-07

In [27]:
df.loc[0:3, "문서":"날짜"]

                                문서          날짜
0                 코로나 상생지원금 문의입니다.  2023-04-07
1       낮 12시 ~ 2시 지하철 운행시간 문의입니다.  2023-04-07
2          밤 12시 이후 버스 운행시간 문의입니다.  2023-04-07
3  사회적 거리두기로 인한 10시 이후 영업시간 안내입니다.  2023-04-07

In [30]:
df.loc[[1, 2, 3], ["문서", "날짜"]]

                                문서          날짜
1       낮 12시 ~ 2시 지하철 운행시간 문의입니다.  2023-04-07
2          밤 12시 이후 버스 운행시간 문의입니다.  2023-04-07
3  사회적 거리두기로 인한 10시 이후 영업시간 안내입니다.  2023-04-07

In [36]:
type(df.loc[0, "문서"])

str

In [33]:
df.loc[0, "문서"]

'코로나 상생지원금 문의입니다.'