#### 스택 예제

* last in first out
* list .append(), .pop() 사용

In [ ]:
a_list = [1, 2, 3, 4, 5]

a_list.append(10)
a_list.append(20)

a_clone_list = a_list[:]

pop_1 = a_list.pop()
pop_2 = a_list.pop()

print(a_list, a_clone_list, pop_1, pop_2, sep = '\n')

#### 스택 예제
* 입력한 단어 거꾸로 출력하기

In [ ]:
word = input("Input a word: ")

word_list = list(word.strip())

reversed_word_list = []
for i in range(len(word_list)):
    reversed_word_list += word_list.pop()
print("".join(reversed_word_list))

* 단어 거꾸로 출력하기(슬라이싱 버전)

In [ ]:
sentence = "강아지가 멍멍멍하며 뒤로 간다."

print(sentence[::-1])

#### 큐
* FIFO(First In First Out)
* list.append(), list.pop(0) 사용

In [ ]:
b_list = [1, 2, 3, 4, 5]

b_list.append(10)
b_list.append(20)

b_list_origin = b_list[:]

pop1 = b_list.pop(0)
pop2 = b_list.pop(0)

print(b_list_origin, b_list, pop1, pop2, sep = "\n")

#### 집합(SET)

In [ ]:
import copy

set1 = {1, 2, 3, 1, 2, 3}

set1_cp = copy.deepcopy(set1)

set1.add(4)
set1.remove(1)
set1.update([6, 7, 8, 9, 10])
set1.discard(11)
# set1.clear()

print(set1, set1_cp, sep=", ")

* 집합연산
  * 합집합(union)
  * 교집합(intersection)
  * 차집합(difference)

In [ ]:
set2 = {1, 2, 3, 4, 5}

print(f"Union: {set1.union(set2)}",
      f"Intersection: {set1.intersection(set2)}",
      f"Difference: {set1.difference(set2)}", 
      sep = "\n")

In [18]:
import pandas as pd
import numpy as np

In [ ]:
student_dict = {"학번": ["20150230", "20150233", "20150234", "20150236"],
 "이름": ["홍길동", "김은정", "오영심", "최성철"],
 "생년월일": ["1995-04-03", "1995-04-20", "1996-01-03", "1995-12-27"],
 "주소": ["서울시 동대문구", "성남시 분당구", "성남시 중원구", "인천시 계양구"]}

df = pd.DataFrame(student_dict)

df.set_index(keys = ["학번"], inplace = True, drop = True)

print(df)

In [ ]:
student_info = {"20140012": "Sungchul", "20140059": "Jiyong", "20140058": "Jaehong"}

student_info["20140012"] = "Janhyeok"
student_info["20140039"] = "Wonchul"

for i in student_info:
    print(f"{i}: {student_info[i]}", end = " ")

In [17]:
country_code = {}
country_code = {"America": 1, "Korea": 82, "China": 86, "Japan": 81}

for i in country_code:
    print(f"{i:10}: {country_code[i]:3}")

country_code.items()

country_code["German"] = 49

key_list = list(country_code.keys())
value_list = list(country_code.values())

print(f"{key_list}", f"{value_list}", sep="\n")

print("korea".casefold() in (x.casefold() for x in key_list))

print(82 in value_list)

America   :   1
Korea     :  82
China     :  86
Japan     :  81
['America', 'Korea', 'China', 'Japan', 'German']
[1, 82, 86, 81, 49]
True
True

In [19]:
import os

print(os.getcwd())

c:\Exercise\Python\SystemTrading

In [20]:
pd.read_csv("data/command_data.csv")

                                                  command               id
0                                                    _raw           source
1                                       vi gowithflow.py             tiana
2       python3.4 submit_assignment.py -submit gowithf...            tiana
3                                        vi gowithflow.py     white_rabbit
4                                 python3.4 gowithflow.py     white_rabbit
...                                                   ...              ...
120589                               [GCC 4.8.2] on linux              flo
120590                               [GCC 4.8.2] on linux              flo
120591                               [GCC 4.8.2] on linux            bambi
120592                               [GCC 4.8.2] on linux            bambi
120593                               [GCC 4.8.2] on linux  auguste_gusteau

[120594 rows x 2 columns]