In [1]:
%pwd

'c:\\Exercise\\Python\\SystemTrading\\start_data_science_with_python'

In [ ]:
import os

In [ ]:
os.getcwd()

In [2]:
from glob import glob

In [3]:
glob("data/*")

['data\\(필독) 일반사용자 파일 열람 방법.hwp',
 'data\\stores',
 'data\\도로교통공단_월별 주야별 교통사고 통계_20211231.csv',
 'data\\소상공인시장진흥공단_상가업소정보_의료기관_201909.csv']

In [9]:
file_name = glob("data/*")[2]
file_name

'data\\도로교통공단_월별 주야별 교통사고 통계_20211231.csv'

In [4]:
import pandas as pd

In [10]:
df =pd.read_csv(file_name, encoding = "cp949")
df

    발생월 주야   사고건수  사망자수  중상자수   경상자수  부상신고자수
0     1  주   8821   107  2421   9631     707
1     1  야   6088    90  1627   6510     427
2     2  주   8756   107  2468   9681     670
3     2  야   5755    96  1572   6286     483
4     3  주  10274   128  2787  11163     820
5     3  야   6326    81  1775   6859     524
6     4  주  11032   119  3105  11935     819
7     4  야   6371    93  1878   6887     518
8     5  주  11025   154  3010  12132     922
9     5  야   6353   101  1762   6779     520
10    6  주  11310   124  3286  12244     865
11    6  야   6265   103  1733   6593     569
12    7  주  11408   139  3132  12435     892
13    7  야   6586   115  1829   7024     558
14    8  주  10407   129  2878  11541     854
15    8  야   6011   118  1638   6365     506
16    9  주  10869   131  2959  11885     856
17    9  야   6143   115  1747   6299     506
18   10  주  11229   156  3064  12129     882
19   10  야   7071   156  1935   7732     565
20   11  주  11223   163  3124  11890     922
21   11  야   6873   122  1884   7284     602
22   12  주  10318   149  2658  10936     916
23   12  야   6616   120  1633   7063     517

In [20]:
df.columns

Index(['사고건수', '사망자수', '중상자수', '경상자수', '부상신고자수'], dtype='object')

In [19]:
df.index

MultiIndex([( 1, '주'),
            ( 1, '야'),
            ( 2, '주'),
            ( 2, '야'),
            ( 3, '주'),
            ( 3, '야'),
            ( 4, '주'),
            ( 4, '야'),
            ( 5, '주'),
            ( 5, '야'),
            ( 6, '주'),
            ( 6, '야'),
            ( 7, '주'),
            ( 7, '야'),
            ( 8, '주'),
            ( 8, '야'),
            ( 9, '주'),
            ( 9, '야'),
            (10, '주'),
            (10, '야'),
            (11, '주'),
            (11, '야'),
            (12, '주'),
            (12, '야')],
           names=['발생월', '주야'])

In [ ]:
df.set_index(["발생월", "주야"], inplace=True)

In [32]:
df.sort_values(["사고건수"], ascending=False, inplace=True)

In [33]:
df.dtypes

사고건수      int64
사망자수      int64
중상자수      int64
경상자수      int64
부상신고자수    int64
dtype: object

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 24 entries, (7, '주') to (2, '야')
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   사고건수    24 non-null     int64
 1   사망자수    24 non-null     int64
 2   중상자수    24 non-null     int64
 3   경상자수    24 non-null     int64
 4   부상신고자수  24 non-null     int64
dtypes: int64(5)
memory usage: 1.6+ KB

In [ ]:
csv_files_list = glob("data/stores/*_*_*_202212.csv")

In [ ]:
csv_files_list

In [ ]:
file_list = []
for csv_file in csv_files_list:
    print(csv_file)
    temp = pd.read_csv(csv_file, low_memory=False)
    file_list.append(temp)

In [ ]:
len(file_list)

In [ ]:
df2 = pd.concat(file_list)

In [ ]:
df2.shape

In [ ]:
df2.tail()

In [ ]:
df2.info()

In [ ]:
df2.to_csv(r"data/stores/concat.csv")