In [1]:
import pandas as pd
import os
from glob import glob

In [2]:
os.getcwd()

'c:\\Exercise\\Python\\SystemTrading\\start_data_science_with_python'

In [3]:
%pwd

'c:\\Exercise\\Python\\SystemTrading\\start_data_science_with_python'

#### 1. 단일 파일을 데이터프레임 형식으로 불러오기

In [37]:
filename = glob("./data/*_* * * *_*.csv")[0]
filename

'./data\\도로교통공단_월별 주야별 교통사고 통계_20211231.csv'

In [38]:
df = pd.read_csv(filename, encoding="cp949")
df

    발생월 주야   사고건수  사망자수  중상자수   경상자수  부상신고자수
0     1  주   8821   107  2421   9631     707
1     1  야   6088    90  1627   6510     427
2     2  주   8756   107  2468   9681     670
3     2  야   5755    96  1572   6286     483
4     3  주  10274   128  2787  11163     820
5     3  야   6326    81  1775   6859     524
6     4  주  11032   119  3105  11935     819
7     4  야   6371    93  1878   6887     518
8     5  주  11025   154  3010  12132     922
9     5  야   6353   101  1762   6779     520
10    6  주  11310   124  3286  12244     865
11    6  야   6265   103  1733   6593     569
12    7  주  11408   139  3132  12435     892
13    7  야   6586   115  1829   7024     558
14    8  주  10407   129  2878  11541     854
15    8  야   6011   118  1638   6365     506
16    9  주  10869   131  2959  11885     856
17    9  야   6143   115  1747   6299     506
18   10  주  11229   156  3064  12129     882
19   10  야   7071   156  1935   7732     565
20   11  주  11223   163  3124  11890     922
21   11  야   6873   122  1884   7284     602
22   12  주  10318   149  2658  10936     916
23   12  야   6616   120  1633   7063     517

#### 2. 여러 파일을 데이터프레임 형식으로 불러오기

In [19]:
filename_list = glob("./data/stores/*_*_*_*.csv")
filename_list

['./data/stores\\소상공인시장진흥공단_상가(상권)정보_강원_202212.csv',
 './data/stores\\소상공인시장진흥공단_상가(상권)정보_경기_202212.csv',
 './data/stores\\소상공인시장진흥공단_상가(상권)정보_경남_202212.csv',
 './data/stores\\소상공인시장진흥공단_상가(상권)정보_경북_202212.csv',
 './data/stores\\소상공인시장진흥공단_상가(상권)정보_광주_202212.csv',
 './data/stores\\소상공인시장진흥공단_상가(상권)정보_대구_202212.csv',
 './data/stores\\소상공인시장진흥공단_상가(상권)정보_대전_202212.csv',
 './data/stores\\소상공인시장진흥공단_상가(상권)정보_부산_202212.csv',
 './data/stores\\소상공인시장진흥공단_상가(상권)정보_서울_202212.csv',
 './data/stores\\소상공인시장진흥공단_상가(상권)정보_세종_202212.csv',
 './data/stores\\소상공인시장진흥공단_상가(상권)정보_울산_202212.csv',
 './data/stores\\소상공인시장진흥공단_상가(상권)정보_인천_202212.csv',
 './data/stores\\소상공인시장진흥공단_상가(상권)정보_전남_202212.csv',
 './data/stores\\소상공인시장진흥공단_상가(상권)정보_전북_202212.csv',
 './data/stores\\소상공인시장진흥공단_상가(상권)정보_제주_202212.csv',
 './data/stores\\소상공인시장진흥공단_상가(상권)정보_충남_202212.csv',
 './data/stores\\소상공인시장진흥공단_상가(상권)정보_충북_202212.csv']

In [22]:
file_list = []
for filename in filename_list:
    file_list.append(pd.read_csv(filename, low_memory=False))

In [28]:
len(filename_list) == len(file_list)

True

In [29]:
df_1 = pd.concat(file_list)

In [30]:
df_1.shape

(2532877, 39)

In [31]:
df_1.head()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,25033300,동그라미중고타이어,NaN,D,소매,D23,자동차/자동차용품,D23A04,타이어판매,G45211,...,4215011100110960006010791,NaN,강원도 강릉시 가작로 270,210110.0,25488.0,1,NaN,NaN,128.904472,37.770252
1,17174549,세인트존스호텔Ohcrab,NaN,O,숙박,O01,호텔/콘도,O01A01,호텔/콘도,NaN,...,4215011300100010001017124,세인트존스호텔,강원도 강릉시 창해로 307,210120.0,25467.0,NaN,NaN,NaN,128.920908,37.791299
2,17174079,평창라마다호텔,NaN,O,숙박,O01,호텔/콘도,O01A01,호텔/콘도,NaN,...,4276038024102450036000001,NaN,강원도 평창군 대관령면 오목길 107,232954.0,25342.0,NaN,NaN,NaN,128.717971,37.660051
3,17173904,호텔탑스텐스카이라운지,NaN,O,숙박,O01,호텔/콘도,O01A01,호텔/콘도,NaN,...,4215035029100920001000002,NaN,강원도 강릉시 옥계면 헌화로 455-34,210831.0,25633.0,NaN,NaN,NaN,129.052902,37.654680
4,24412526,레이디가구,NaN,D,소매,D15,가구소매,D15A01,일반가구소매,G47520,...,4213011500111400020035715,NaN,강원도 원주시 송삼길 156-19,220150.0,26385.0,NaN,NaN,NaN,127.917307,37.327668

In [32]:
df_1.tail()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
96928,19073226,원조사계절칡냉면,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,4374025028100810002002706,NaN,충청북도 영동군 영동읍 학산영동로 1170,370802.0,29152.0,NaN,NaN,NaN,127.768971,36.167841
96929,19073414,만능수리,NaN,F,생활서비스,F03,개인/가정용품수리,F03A05,에어컨수리/설치,S95310,...,4313035021102780001042473,NaN,충청북도 충주시 신니면 용원2길 26,380891.0,27457.0,NaN,NaN,NaN,127.735163,36.997242
96930,19074611,다모아인력,NaN,F,생활서비스,F08,대행업,F08A03,고객관리대행,N75919,...,4377035021105480007171082,NaN,충청북도 음성군 삼성면 덕정로 75,369833.0,27649.0,NaN,2,NaN,127.499859,37.020851
96931,19078175,와이케이푸드,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,4373025037103440002009741,슈퍼,충청북도 옥천군 옥천읍 문장로 104,373805.0,29049.0,NaN,NaN,NaN,127.576315,36.296025
96932,19078180,만세건축,NaN,F,생활서비스,F15,주택수리,F15A02,미장타일도배도장,NaN,...,4377025021106180030000001,NaN,충청북도 음성군 음성읍 시장로117번길 8,369807.0,27696.0,NaN,NaN,NaN,127.690576,36.937684